body {
  background-color: blueviolet;
}
img {
  margin: 1%;
  align-items: center;
}
a {
  text-align: center;
}
p {
  font-size: 100%;
  border: 1px solid lightblue;
  margin: 1px;
}
h1 {
  font-family: Arial;
  text-align: center;
  margin: 40px;
}
